<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
    <div class="container">
      <a class="navbar-brand fw-bold" href="index.html">DarmaWijaya</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>

          <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
        </ul>
        <button id="darkToggle" class="btn btn-outline-secondary ms-3" title="Toggle Dark Mode">
          <svg id="icon-light" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-moon" viewBox="0 0 16 16">
            <path d="M6 0a7 7 0 0 0 0 14 7 7 0 0 0 6.906-5.839A6 6 0 1 1 6 0z"/>
          </svg>
          <svg id="icon-dark" style="display:none" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-brightness-high" viewBox="0 0 16 16">
            <path d="M8 4.5A3.5 3.5 0 1 1 4.5 8 3.5 3.5 0 0 1 8 4.5zm0-2A5.5 5.5 0 1 0 13.5 8 5.5 5.5 0 0 0 8 2.5z"/>
          </svg>
        </button>
      </div>
    </div>
  </nav>
  